<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="main">
  <header class="header">


    <nav class="nav">
      <ul class="ul">
        <a routerLink="/registration"><li><i class="fa fa-registered" aria-hidden="true"></i> Registration</li></a>
        <a routerLink="/login"><li class="active"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</li></a>
        <a routerLink="/admin"><li><i class="fa fa-unlock" aria-hidden="true"></i> Admin</li></a>
      </ul>
    </nav>

  </header>
  <hr class="new1">
  <hr class="new2">
  <hr class="new3">


<div class="mess">
  <p><b> WELCOME </b></p>
</div>


 </div>


