
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="menu">

  <ul>
    <li class="active"><a href="#"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
    <li><a href="#"><i class="fa fa-wordpress" aria-hidden="true"></i>Workspace</a>
      <div class="sub1">
        <ul>
          <li><a href="#">View</a></li>

        </ul>
      </div>

    </li>



          <li><a href="#"><i class="fa fa-user" aria-hidden="true"> Profile</i></a>
            <div class="sub1">
              <ul>
                <li><a href="#">View</a></li>
                <li><a href="#">Update</a></li>

              </ul>
            </div>
          </li>

        </ul>
      </div>


  <ul>

    <li class="class"><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>

  </ul>



<hr class="new1">
<hr class="new2">
<hr class="new3">

