<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="menu">

  <ul>
    <li class="active"><a href="#"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
    <li><a href="#"><i class="fa fa-wordpress" aria-hidden="true"></i>Workspace</a>
      <div class="sub1">
        <ul>
          <li><a href="#">Add</a></li>
          <li><a href="#">Update</a></li>
          <li><a href="#">Deactivate</a></li>
        </ul>
      </div>

    </li>

    <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>User</a>
      <div class="sub1">
        <ul>
          <li><a routerLink="/view">View</a><i class="fa fa-angle-right"></i></li>
        </ul>
      </div>
    </li>
  </ul>

  <ul>

    <li class="class"><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>

  </ul>

</div>
<hr class="new1">
<hr class="new2">
<hr class="new3">



